
* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

ul p {
  margin: 0px;
  padding: 0px;
}

a {
  font-family: sans-serif;
  text-decoration: none;
}

.header {
  background: #2B5059;
  padding-inline: 16px;
}

.nav {
  max-width: 1280px;
  height: 70px;
  margin-inline: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 250px;
}

.nav-list {
  display: flex;
  gap: 32px;
  list-style: none;
}

.nav-list a {
  font-size: 18px;
  color: #fff;
  padding:  5px 10px;
  border-radius: 4px;
}

.nav-list a:hover {
  background-color: #d2e6eb;
  color: black;
}

.hamburger {
  display: none;
  border: none;
  background: none;
  border-top: 3px solid #fff;
  cursor: pointer;
}

.hamburger::after,
.hamburger::before {
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
}

@media (max-width: 750px) {
  .hamburger {
    display: block;
    z-index: 1;
  }

  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background: #2B5059; */
    clip-path: circle(100px at 90% -15%);
    transition: 1s ease-out;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;

    pointer-events: none;
  }

  .nav-list a {
    font-size: 24px;
    opacity: 0;
  }

  .nav-list li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }

  .nav-list li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }

  .nav-list li:nth-child(3) a {
    transition: 0.5s 0.7s;
  }

 .nav-list li:nth-child(4) a {
  transition: 0.5s 0.9s;
 }

 .nav-list li:nth-child(5) a {
  transition: 0.5s 0.11s;
 }

 .nav-list li:nth-child(6) a {
  transition: 0.5s 0.14s;
 }

  .nav.active .nav-list {
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
  }

  .nav.active .nav-list a {
    opacity: 1;
  }

  .nav.active .hamburger {
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: transparent;
  }

  .nav.active .hamburger::before {
    transform: rotate(135deg);
  }

  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

/*PARTE DAS IMAGENS VVVV*/

.texto-mais-pra-baixo {
  margin-top: 200px;
}



.slider {
  position: relative;
  display: inline-block;}

.image-text {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7); /* Fundo preto com transparência */
  color: #fff; /* Cor do texto (branco) */
  padding: 5px 10px; /* Espaçamento interno do texto */
  margin: 0;
  font-size: 12px; /* Tamanho da fonte */
  opacity: 0; /* Texto inicialmente invisível */
  transition: opacity 0.3s; /* Efeito de transição de opacidade */
}

.slider:hover .image-text {
  opacity: 1; /* Torna o texto visível ao passar o mouse sobre a imagem */
 }

.ccxp {
  width: 370px;
  height: 250px;
}

.celso {
  width: 400px;
}

.AVIEUM {
  width: 440px;
}

.ceo {
  width: 375px;
}

.paris {
  width: 440px;
}




/*GALERIA GRANDONA VVVVV */

.titulo-da-galeria {
  margin-top: 1000px

}


.image-container2 {
  display: flex; /* Cria um layout flexível */
  justify-content: space-between; /* Alinha as imagens com espaço entre elas */
  flex: 1;
  height: auto;
  font-size: 0;
}



.tanisaka {
  width:  1325px ;
  height: 700px;
}

.volocopter-inauguracao {
  width:  1200px ;
  height: 700px;
}

.crewe {
  width:  1325px ;
  height: 700px;
}

.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
}

/* Estilize as imagens */
.mySlides {
  display: inside;
  width: 100%;
}

/* Estilize os botões de navegação */
.prev, .next {
  cursor: pointer;
  position: static;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(10, 123, 151);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  user-select: none;
}

/* Posicione o botão "anterior" à esquerda */
.prev {
  left: 10px;
}

/* Posicione o botão "próximo" à direita */
.next {
  right: 10000px;
}


.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active {
  background-color: #717171;
}

.eventosss {
 margin-top: 100px;
 }

.ccxp2 {
height: 550px;
width:  550px;
margin-right: 20px; /* Espaçamento entre a imagem e o texto */
}

.text-with-image {
  display: flex;
  align-items: center;
 }

 .text-with-image2 {

  
 }

/*PARTE DAS IMAGENS VVVV*/

footer {
  background-color: #2B5059;
  color: #fff;
  padding: 20px 0;
}

.email {
  padding-left: 40px;
}
 .novidades {
  padding: 0px;
  padding-left: 10px
} 

 .campo-email {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  color: #c7cecf;
  border: 1px solid #ffff;
  border-radius: 20px;
  padding: 15px;
  padding-right: 1px;
  height: 15px;
  width: 300px;
  font-size: 17px; 
}

.campo-email:hover {
box-shadow: 0px 0px 10px 1px #000000;
}

.botao {
background-color: #d2e6eb;
color: #000;
border: 1px solid #fff;
border-radius: 15px;
padding: 5px 10px;
align-self: center;
font-size: 14px;
}

.botao:hover{
  border-color: #809da5;
}


/* Estiliza as listas de links no rodapé */
.listas {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.listas ul {
  list-style: none;
}

.listas ul li {
  margin: 5px 0;
}

/* Estiliza os links no rodapé */
.listas ul li a {
  text-decoration: none;
  color: #fff;
  border-bottom: 2px solid #2B5059;
  font-size: 16px;
  font-weight: 400;
  transition: 0.3s;
}

/* Estiliza os links no rodapé quando passam o mouse sobre eles */
.listas ul li a:hover {
  border-color: #d2e6eb;
}

/* Estiliza os títulos das listas no rodapé */
.listas ul strong {
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
}
